<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<link rel="stylesheet" href="assets/lib/bootstrap/css/bootstrap.min.css">
<script src="assets/lib/jquery/jquery.min.js"></script>
<script src="assets/lib/bootstrap/js/bootstrap.min.js"></script>
<body class="bg-dark">
<div class= " col-12 container-fluid">
<h1 class= "font-weight-bold text-center text-danger text-bold">Welcome to the Stephens' School of Self Defense Business Portal</h1>
    <h2 class= "font-weight-bold text-center text-danger text-bold">Powered by KENPOTECH!!!!&reg;</h2><hr class="bg-danger">
    <div class="col-4"></div>
    <div class="col-4">
    <label for = "username" class="text-danger">Please Enter a User Name:</label>
    <form method="GET" action="@routes.UserController.getUserName">
        @helper.CSRF.formField
        <input id= "username" type = "text" name = "username" value="username">
       <br>
    <label for = "password" class="text-danger">Please Enter a Password:</label><br>

        <input id= "password" type = "password" required="required" name = "password" value="password">
        <input type="submit" value="save" class="btn btn-secondary bg-danger" required="required"><br>
        <br>
    </form>
    </div>
    <div class="text-center">
    <img src="assets/images/KANJI_Red kenpo karate.gif" >
        <img src="assets/images/pngdragon.png" width="400">
    <img src="assets/images/tigerdragonseishin.jpg">
    <div class="col-4"></div>


</div>
    <hr class="bg-danger">
</body>
</html>