@(students : List[SearchStudents])
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Details</title>
</head>
<link rel="stylesheet" href="assets/lib/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/stylesheets/background.css">
<script src="assets/lib/jquery/jquery.min.js"></script>
<script src="assets/lib/bootstrap/js/bootstrap.min.js"></script>
<body>
<body class="bg-dark"><h1 class="text-danger text-center font-weight-bold">The Student Information Portal</h1><hr class="bg-danger">
<table class="table table-striped table-bordered text-white bg-dark">
    <tr>
        <th >Last Name</th><th>First Name</th><th>Address</th><th>City</th><th>State</th><th>ZipCode</th><th>Phone number</th><th>Belt Rank</th><th>Technique</th><th>ContractStatus</th><th>Rate</th><th>Instructor Name</th><th>Payment</th><th>StartDate</th>
    </tr>
    @for(student <- students) {
    <tr>
        <td>@student.getLastName</td>
        <td>@student.getFirstName</td>
        <td>@student.getStudentAddress</td>
        <td>@student.getCityName</td>
        <td>@student.getStateName</td>
        <td>@student.getZipCode</td>
        <td>@student.getPhoneNumber</td>
        <td>@student.getBeltRank</td>
        <td>@student.getTechniqueId</td>
        <td>@student.isContractStatus</td>
        <td>@student.getRate</td>
        <td>@student.getInstructorName</td>
        <td>@student.getPaymentFrequencyId</td>
        <td>@student.getStartDate</td>
    </tr>



}
    <a href="/studentdetail" class="btn btn-secondary bg-danger">Go Back  </a>
</body>

</html>